.selected-pokemon{
    position: relative;
    margin: 0.5rem;
}

.selected-pokemon-list{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-name{
    font-size: 1rem;
    font-weight: bold;
}

.trash {
    position: absolute;
    right:0;
    color: #3E6A85;
    cursor: pointer;
}