.home-container{
    width: 100vw;
    min-height: 100vh;
    background-color: #ECEAE4;
    box-sizing: border-box;
}

.pokemon-trade-container {
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
}

.loading-indicator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    align-self: center;
}

.trainers-trade-area{
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
}