.home-container{
    width: 100vw;
    min-height: 100vh;
    background-color: #D7DEF1;
    box-sizing: border-box;
}

.home-content{
    display: flex;
    height: 92vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

.home-content img{
    width: 15vw;
}