.history-container{
    width: 100vw;
    min-height: 100vh;
    background-color: #D7DEF1;
    box-sizing: border-box;
}

.history-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-history-data{
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.5px;
    border-color: rgba(0,0,0, 0.2);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color:rgba(177, 207, 235, 0.2);
}

.trade-info-container{
    display: flex;
    align-items: flex-start;
}

.trade-info-container h2{
    align-self: center;
}

.trade-pokemons-container{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}