.navbar{
    width: 100vw;
    height: 8vh;
    background-color: #3E6A85;
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-title{
    margin-left: 0.6rem;
    color: #FFFFFF;
    font-size: 1rem;
}

.links{
    display: flex;
}

.link{
    text-decoration: none;
    padding: 0 2rem;
    color: white;
    cursor: pointer;
}
