.navbar{
    width: 100vw;
    height: 8vh;
    background-color: #B1CFEB;
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-title{
    margin-left: 0.6rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
}

.links{
    display: flex;
}

.link{
    text-decoration: none;
    padding: 0 2rem;
    color: white;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.2s;
}

.link:hover{
    transition: 0.3s;
    font-size: 1.7rem;
    padding: 0 1.8rem;

}

@media only screen and (max-device-width : 480px) {
    .nav-title{
        font-size: 0.7rem;
    }
    .link{
        font-size: 0.9rem;
        display: flex;
        padding: 0;
        margin: 0.5rem;
    }
}