.select-pokemon-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-pokemon-container p{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 0;
}

.select-dropdown{
    width: 30vw;
}

.selected-pokemon{
    position: relative;
    margin: 2rem;
}

.selected-pokemon-list{
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.trash {
    position: absolute;
    right:0;
    color: #3E6A85;
    cursor: pointer;
}
